<div class="form-container">
    <h2>Faça o login abaixo!</h2>

    <form action="/login" class="form" method="post">
        <div class="input-form">
            <label for="email">E-mail:</label>
            <input type="email" name="email" placeholder="Digite seu e-mail" required>
        </div>

        <div class="input-form">
            <label for="password">Senha:</label>
            <input type="password" name="password" placeholder="Digite sua senha" required>
        </div>

        <input type="submit" value="Login">

    </form>

    <p>Não possui conta? <a href="/register">Crie uma!</a></p>
</div>