<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>E-commerce</title>
</head>
<body>
    
    <nav>
        <a href="/" class="logo-container">
            <img src="/img/bazaar-logo.png" alt="Logo">
        </a>
        <div class="navbar-routes">
            
            <a href="/">Produtos</a>
            {{#if session.id}}
                <a href="/users/dashboard">Dashboard</a>
                <a href="/logout">Deslogar</a>
            {{else}}
                <a href="/register">Registrar</a>
                <a href="/login">Login</a>
            {{/if}}

            <a href="/products/create">Anunciar produto</a>
        </div>
    </nav>

    {{#if messages.message}}
        <div class="flash-message">
            <p>{{messages.message}}</p>
        </div>
    {{/if}}

    <main>
        {{{body}}}
    </main>

</body>
</html>