<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>E-commerce</title>
</head>
<body>
    
    <nav>
        <a href="/" class="logo-container">
            <img src="/img/imagem_2023-04-29_111915771-removebg-preview.png" alt="Logo">
        </a>

        {{#if sessionUserId}}
            <a href="/">Produtos</a>
            <a href="/dashboard">Dashboard</a>
            <a href="/logout">Deslogar</a>
        {{else}}
            <a href="/">Produtos</a>
            <a href="/register">Registrar</a>
            <a href="/login">Login</a>
        {{/if}}
    </nav>

    <main>
        {{{body}}}
    </main>

</body>
</html>