html, body{
    background-color: #222;
    color: white;
    margin: 0;
    padding: 0;
    font-family: helvetica;
}

a, span{
    color: rgb(231, 158, 23);
    font-weight: bold;
}

main{
    padding-top: 100px;
}


/* navbar */

nav{
    width: 100%;
    height: 100px;
    padding: 15px;
    margin-bottom: 5px;
    border-bottom: 2px solid rgb(231, 158, 23);
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    position: fixed;
    z-index: 999;
    background-color: #222;
    font-size: 1.2em;
}

.logo-container{
    height: 70px;
    width: auto;
    
}

.logo-container img{
    height: 100%;
}

.navbar-routes{
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.navbar-routes a{
    text-decoration: none;
    margin-left: 15px;
    transition: .5s;
}

.navbar-routes a:hover{
    color: white;
}

.navbar-routes a:last-child{
    border: 1px solid rgb(231, 158, 23);
    border-radius: 10px;
    padding: .5em 1em;
    background-color: rgb(231, 158, 23);
    color: white;
}

.navbar-routes a:last-child:hover{
    background-color: transparent;
    color:rgb(231, 158, 23)
}


/* flash */
.flash-message{
    position: absolute;
    z-index: 1000;
    left: 50%;
    transform: translateX(-50%);
    top: 75px;
    height: 75px;
    width: 30%;
    background-color: rgb(141, 141, 247);
    color: white;
    font-weight: bold;
    border: 1px solid rgb(62, 62, 252);
    border-radius: 5px;
}

.flash-message p{
    margin-top: 25px;
    text-align: center;
}


/* form container */
.form-container{
    max-width: 30%;
    min-width: 300px;
    margin: 5em auto auto auto;
    height: 400px;
}

.form-container h2{
    border-left: 5px solid rgb(231, 158, 23);
    padding-left: 10px;
}

.form-container form{
    display: flex;
    flex-direction: column;
}

.input-form{
    display: flex;
    flex-direction: column;
}

.home-container input,
.form-container input,
select{
    color: white;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 1.2em;
    background-color: black;
    border: 1px solid rgb(231, 158, 23);
    margin: 6px 0 10px 0;
}

select option:first-child{
    color: rgb(146, 104, 24);
}

.input-form label{
    font-weight: bold;
}

.form-container input[type="submit"]{
    color: white;
    font-size: 1.3em;
    box-sizing: border-box;
    background-color: rgb(231, 158, 23);
    cursor: pointer;
}

.form-container input:focus{
    color: white;
}


.form-container input::placeholder{
    color: rgb(146, 104, 24);
}


.form-container p{
    text-align: center;
}


/* dashboard user */

.dashboard-container{
    display: flex;
    justify-content: space-between;
}

.dashboard-title{
    width: 30%;
    position: fixed;
}

.dashboard-title h1{
    margin-top: 4em;
    padding-left: 5px;
    border-left: 5px solid rgb(231, 158, 23);
    margin-left: 40px;
}

.products-container-dashboard{
    margin-left: 35%;
    margin-right: 5%;
    width: 60%;
    margin-top: 4em;
}

.product-info{
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 3em;
    box-sizing: border-box;
    margin-bottom: 5px;
    align-items: center;
}

.product-item{
    text-align: center;
    font-size: large;
}

.product-item h3{
    margin: 0;
    border-left: 4px solid white;
}

.actions{
    display: flex;
}

.actions input[type="submit"]{
    background-color: rgb(231, 158, 23);
    border: 1px solid rgb(231, 158, 23);
    color: black;
    border: none;
    font-size: 1.1em;
    padding: .5em 1em;
    font-weight: bold;
    margin-left: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
}

.actions input[type="submit"]:hover{
    color: white;
    background-color: transparent;
    border: 1px solid rgb(231, 158, 23);
}


/* home */

.home-container{
    width: 50%;
    margin: 0 auto;
}

.home-container h1{
    text-align: center;
    margin-bottom: .3em;
}

.home-container p{
    margin-top:0;
    text-align: center;
}

.product-container-home{
    border-bottom: 2px solid rgb(231, 158, 23);
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.price-actions{
    display: flex;
    align-items: center;
}

.home-container form{
    display: flex;
    flex-wrap: wrap;
}

.home-container input{
    color: white;
    width: 77%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 1.2em;
    background-color: black;
    border: 1px solid rgb(231, 158, 23);
    margin: 6px 0 10px 0;
}

.home-container input[type='submit']{
    width: 20%;
    margin-left: 3%;
    background-color: rgb(231, 158, 23);
    color: black;
    transition: .5s;
    cursor: pointer;
    font-weight: bold;
}

.home-container input[type='submit']:hover{
    background-color: rgb(146, 104, 24);
    color: white;
}

.search-filters{
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.search-filters select{
    width: 60%;
}

.search-filters a{
    display: block;
    text-decoration: none;
    padding: .5em 1em;
    background-color: rgb(231, 158, 23);
    color: black;
    border-radius: 5px;
    margin-left: 15px;
}

.home-container select option{
    color: white;
}

.info-view-container{
    width: 40%;
    margin: auto;
    margin-top: 2em;
}

.product-owner{
    text-decoration: underline;
}

.product-info-view{
    font-size: 24px;
    font-weight: bold;
}

.product-description{
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    padding-left: 15px;
    padding-top: 10px;
    font-weight: bolder;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.info-button{
    background-color: rgb(231, 158, 23);
    border: 1px solid rgb(231, 158, 23);
    text-decoration: none;
    color: black;
    border: none;
    font-size: 1em;
    padding: .5em 1em;
    font-weight: bold;
    margin-left: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
}