<div class="form-container">
    <h2>Alteração de senha</h2>

    <form action="/users/changepassword" class="form" method="post">
        <div class="input-form">
            <label for="oldPassword">Senha atual:</label>
            <input type="password" name="oldPassword" placeholder="Digite sua senha atual" required>
        </div>

        <div class="input-form">
            <label for="newPassword">Nova senha:</label>
            <input type="password" name="newPassword" placeholder="Digite sua nova senha" required>
        </div>

        <div class="input-form">
            <label for="newPasswordConfirm">Confirmação de senha:</label>
            <input type="password" name="newPasswordConfirm" placeholder="Confirme sua nova senha" required>
        </div>

        <input type="submit" value="Alterar">

    </form>
</div>