<div class="form-container">
    <h2>Liste seu produto abaixo!</h2>

    <form action="/products/create" class="form" method="post">

        <div class="input-form">
            <label for="name">Nome:</label>
            <input type="text" name="name" placeholder="Digite o nome do produto" required>
        </div>

        <div class="input-form">
            <label for="category">Categoria:</label>
            <select name="category" required>
                <option value="" disabled selected>Selecione uma opção</option>
                <option value="Carros">Carros</option>
                <option value="Eletronicos">Eletronicos</option>
                <option value="Casas">Itens para Casa</option>
                <option value="Outros">Outros</option>
            </select>
        </div>

        <div class="input-form">
            <label for="description">Descrição:</label>
            <textarea name="description" placeholder="Digite a descrição"></textarea>
        </div>

        <div class="input-form">
            <label for="price">Senha:</label>
            <input type="number" name="price" placeholder="Digite o preço" required>
        </div>


        <input type="submit" value="Adicionar">

    </form>
</div>